.post-form-wrapper {
  color: var(--main-right-text-color);
  padding: 15px;
  margin: 0;
  height: auto;
  border-radius: 3px 3px 0 0;
  background-color: var(--main-right-background-color);
}

.post-form {
  background-color: var(--calendar-banner-color);
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sessionEl {
  width: 90%;
  display: flex;
}

.sessionFormOption {
  margin: auto;
}

.sessionSubmit {
  width: 20%;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--calendar-btn);
}

.sessionSubmit:hover {
  cursor: pointer;
  background-color: var(--text-hover-color);
}

/* label styling (temp) */

.location-selection {
  margin-left: 33px;
}

.date-selection {
  margin-left: 65px;
}
